@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px; }

.timeline > li {
  margin-bottom: 60px;
  position: relative;
  text-align: center; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  padding: 20px;
  position: relative; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }
  .timeline > li > .timeline-badge img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 2px -2px grey; }

.timeline > li:nth-child(even) > .timeline-panel {
  float: right; }

.timeline > li > .timeline-panel:nth-child(3) {
  float: right;
  text-align: left; }

.timeline > li:nth-child(even) > .timeline-panel:nth-child(3) {
  float: left;
  text-align: right; }

.timeline > li:nth-child(even) > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline > li:nth-child(even) > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.timeline-badge.primary {
  background-color: #2e6da4 !important; }

.timeline-badge.success {
  background-color: #3f903f !important; }

.timeline-badge.warning {
  background-color: #f0ad4e !important; }

.timeline-badge.danger {
  background-color: #d9534f !important; }

.timeline-badge.info {
  background-color: #5bc0de !important; }

.timeline-title {
  margin-top: 0;
  color: inherit;
  line-height: 1.4em;
  font-size: 1.5em;
  letter-spacing: 1px; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px; }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px); }
  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px; }
  ul.timeline > li > .timeline-panel {
    float: right; }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; } }

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */
.hljs {
  display: block;
  background: #f8f8f8;
  padding: 1.2em;
  color: #333333;
  overflow-x: auto;
  font-weight: bold; }

.hljs-comment,
.hljs-meta {
  color: #969896;
  font-weight: bold; }

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
  font-weight: bold; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
  font-weight: bold; }

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
  font-weight: bold; }

.hljs-section,
.hljs-name {
  color: #63a35c;
  font-weight: bold; }

.hljs-tag {
  color: #333333;
  font-weight: bold; }

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
  font-weight: bold; }

.hljs-addition {
  color: #55a532;
  background-color: #eaffea; }

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec; }

.hljs-link {
  text-decoration: underline; }

@media (min-width: 1200px) {
  .container {
    max-width: 900px; } }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Noto Sans TC', sans-serif; }

/**
 * Site Wrap
 */
.site-wrap {
  min-height: 90%; }

/**
 * Topnav
 */
.topnav {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 10; }
  .topnav i {
    color: #666; }

.topnav-toggle {
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: left;
  transition: color 0.25s; }

/**
 * Site Header
 */
#site-header {
  margin-top: 40px;
  text-align: center; }
  #site-header .topnav-toggle {
    position: fixed;
    top: 0; }
  #site-header .brand img {
    max-width: 100%; }

.search {
  margin: 20px auto;
  width: 450px; }
  .search .input-group-addon {
    border: 0;
    height: 40px;
    background: none;
    font-size: 2.5em;
    margin-top: 20px;
    margin-right: -10px; }
  .search input {
    border: 0;
    border-bottom: 4px solid #000;
    font-size: 2em; }

/**
 * CSE
 */
.search .gcse {
  float: left; }
  .search .gcse .gsc-search-box {
    height: 46px; }
    .search .gcse .gsc-search-box .gsc-input {
      display: block;
      height: 46px; }
    .search .gcse .gsc-search-box .gsc-input-box {
      border: 0;
      width: 380px; }
    .search .gcse .gsc-search-box .gsc-input-box-hover, .search .gcse .gsc-search-box .gsc-input-box-focus {
      border: 0;
      box-shadow: none; }
    .search .gcse .gsc-search-box input.gsc-input {
      border: 0;
      border-bottom: 4px solid #000 !important;
      font-size: 1.5em !important;
      padding: 5px !important; }
      .search .gcse .gsc-search-box input.gsc-input::-webkit-input-placeholder {
        font-size: 1em !important; }
  .search .gcse .gsc-search-button {
    display: none; }

/**
 * Mobile Site Header
 */
#mobile-site-header {
  display: none;
  margin-top: -62px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: margin-top 0.25s; }
  #mobile-site-header .container-fluid {
    overflow: hidden;
    text-align: center; }
  #mobile-site-header .topnav-toggle {
    margin-right: 20px;
    color: white; }
  #mobile-site-header.show {
    margin-top: 0;
    opacity: 1; }
  #mobile-site-header .brand {
    margin: 0 auto;
    padding-right: 20px; }
    #mobile-site-header .brand > img {
      margin: 10px 0;
      height: 40px;
      max-width: 300px; }

/**
 * Site Footer
 */
#site-footer {
  width: 100%;
  margin-top: 45px;
  background: #fafafa;
  color: #888;
  padding-bottom: 0; }
  #site-footer .container {
    padding: 8px 0;
    text-align: center; }

/**
 * Home
 */
#home-content .post-items li {
  list-style: none; }

#home-content .post-items article {
  margin-bottom: 20px; }

/**
 * Post
 */
.post h1.title {
  padding: 40px 0;
  font-size: 3em;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #000; }

.post h2 {
  margin-top: 60px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #DDD; }

.post p, .post li {
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: 4px;
  text-align: justify;
  color: #14373c;
  font-weight: normal;
  word-break: break-all; }

.post ol li::first-line {
  font-weight: bold; }

.post video {
  width: 100%;
  height: auto; }

.post img {
  max-width: 100%; }

.post pre {
  max-height: 600px; }

/**
 * Recommend
 */
.recommend {
  margin: 40px auto; }
  .recommend h2 {
    margin-top: 60px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #DDD; }
  .recommend ul {
    padding-left: 0; }
    .recommend ul li {
      list-style: none;
      padding: 4px 0; }
      .recommend ul li img {
        margin-right: 20px;
        border-radius: 100%; }
      .recommend ul li a {
        font-size: 1.2em; }

/**
 * Timeline
 */
.timeline p.date {
  font-weight: bold;
  color: #666; }

/**
 * Pagination
 */
.pagination {
  text-align: center;
  display: block;
  overflow: hidden;
  margin-top: 20px; }
  .pagination span, .pagination a {
    padding: 8px 18px;
    display: inline-block;
    transition: background 0.25s;
    color: #333;
    text-decoration: none; }
    .pagination span:hover, .pagination a:hover {
      background-color: #E5E5E5; }
  .pagination .current {
    color: #fff;
    background-color: #f00033 !important; }
